<div *ngIf="drivers != null && !drivers?.error">

  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <select [(ngModel)]="driverId" name="driverId">
      <option *ngFor="let driver of drivers" [value]="driver._id">{{driver.name}}</option>
    </select>
    <input name="deliveryId" ngModel required #deliveryId="ngModel" placeholder="Enter Delivery ID">
    <textarea name="description" ngModel required #description="ngModel">Enter Description...</textarea>
    <select [(ngModel)]="rating" name="rating">
      <option [value]="1">1</option>
      <option [value]="2">2</option>
      <option [value]="3" selected="selected">3</option>
      <option [value]="4">4</option>
      <option [value]="5">5</option>
    </select>
    <button>Submit</button>
  </form>

  <div *ngIf="review != null && !review?.error">
    Delivery Review Created
    <div class="row dark-background">
      <div class="col-sm-3"> Driver ID </div>
      <div class="col-sm-3"> Review ID </div>
      <div class="col-sm-3"> Description </div>
      <div class="col-sm-3"> Rating </div>
    </div>
    <div class="row">
      <div class="col-sm-3"> {{review.driver_id}}</div>
      <div class="col-sm-3"> {{review.delivery_id}}</div>
      <div class="col-sm-3"> {{review.description}} </div>
      <div class="col-sm-3"> {{review.rating}} </div>
    </div>
  </div>

  <div *ngIf="review?.error">
    Error creating review: {{review.error}}
  </div>
</div>

<div *ngIf="drivers == null">
  Loading...
</div>

<div *ngIf="drivers?.error">
  Error getting drivers: {{drivers.error}}
</div>