<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <a class="navbar-brand" href="#">Waitr Challenge App</a>
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item ">
      <a class="nav-link" routerLink="/list-drivers" routerLinkActive="active">List Drivers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/create-driver" routerLinkActive="active" >Create Driver</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/find-driver" routerLinkActive="active">Find Driver</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/list-driver-reviews" routerLinkActive="active">List Driver Reviews</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/create-driver-review" routerLinkActive="active">Create Driver Review</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/find-delivery-review" routerLinkActive="active">Find Delivery Review</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/create-delivery-review" routerLinkActive="active">Create Delivery Review</a>
    </li>